<div class="view-timeline">
  <div ng-repeat="post in numberPostFilter = mv.posts | filter:{id:mpic.postId} track by $index">
    <!-- <h1>{{post.title}}</h1> -->

    <!-- MODAL REPORTE-->
    <div class="modal-report">
      <div class="bg-drop"></div>
      <div class="modal-content">
        <h3>¿Deseas Reportar esta imágen?</h3>
        <ul>
          <li class="click-bs">Contiene material Gore</li>
          <li class="click-bs">Contiene material Pornográfico</li>
          <li class="click-bs">Contiene material Racista / Ofensivo</li>
        </ul>
        <form>
          <label>Otro motivo</label>
          <textarea></textarea>
          <input class="button-pink close-modal" type="button" value="Enviar">
        </form>
      </div>
    </div>
    <div class="content-time view-timeline">
      <!-- Cabecera de  info de user  -->
      <div class="item-box">
        <div class="info-user">
          <a class="back" href="javascript:history.back(1)">atras</a>
          <div class="avatar-user">
            <img ng-src="{{post.authorAvatar}}"</img>
          </div>
          <p>{{post.authorName}}</p>
          <flag-report>
            <span class="flag">Reportar</span>
            <div class="popup-report hidden">
              <div class="wraper">
                <p class="title">Quieres reportar como contenido no apropiado para muvbe</p>
                <div class="confirm">Confirmar</div>
                <div class="cancel">Cancelar</div>
              </div>
            </div>
            <div class="msj hidden"><p>Gracias por tu reporte</p></div>
          </flag-report>
          <sub-menu>
            <div class="sub-menu" ng-show="mv.user.id == post.author">
              <ul>
                <li>
                  <a class="item-1" ng-href="#/edit-post/{{post.id}}">Editar Post</a>
                </li>
                <!-- Sub menu  de  item   -->
                <!-- <div ng-show="mv.user.id == post.author">
                  <a ng-href = "#/edit-post/{{post.id}}">Editar Post</a>
                </div>

                <div class="bottom" ng-show="mv.user.id == post.author">
                  <div type="button" class="custom-bottom-input" ng-click="mpic.deletePost(mpic.postId);" value ="Eliminar Post"></div>
                </div>
   -->          <li>
                  <a  class="item-2" ng-click="mpic.confirmPostDelete(this)" value ="Eliminar Post">Eliminar Post</a>
                </li>
              </ul>
            </div>
            <div class="pop-pu {{pop_delete}}">
              <div class="wraper">
                <div class="title">seguro quiere eliminar el comentario:</div>
                <div class="opciones">
                  <p class="delete" ng-click="mpic.deletePost(mpic.postId);" >Eliminar</p>
                  <p class="cancel" ng-click="mpic.confirmPostDelete(this)">Cancelar</p>
                </div>
              </div>
            </div>
          </div>
        </sub-menu>
        <!-- Imagene del post -->
        <div class="wraper-img">
          <img ng-src="{{post.urlFeaturedImage}}"></img>
          <div class="back"></div>
          <p>{{post.title}}</p>
        </div>

        <!-- Barra de informacion de  favoritos y comentarios  -->
        <div class="info-post">
          <div class="favorites">
            <span class="icon-stars"></span>
            <p ng-if='!post.isFavorite' ng-click="mv.addFavorite(post.id)">FAVORITOS</p>
            <p ng-if='post.isFavorite' ng-click="mv.removeFavorite(post.id)">REMOVER DE FAVORITOS</p>
          </div>
          <div class="count-comments">
            <p>{{post.comments.length}}</p>
            <span ng-if='post.comments.length == 0' class='balloon'></span>
            <span ng-if='post.comments.length >= 1' class='active-coment balloon'></span>
          </div>
          <div class="count-favorites">
            <p>{{post.countFavorites}} </p>
            <sapn class="stars-pink"></sapn>
          </div>
        </div>

        <!--  <div ng-if='post.isFavorite' ng-click="mv.removeFavorite(post.id)">REMOVER DE FAVORITOS</div>
        <div ng-if='!post.isFavorite' ng-click="mv.addFavorite(post.id)">GUARDAR EN FAVORITOS</div> -->

         <!--  <p>Añadido el dia: {{post.date}}</p>
          <p>Añadido por:
          	<a href="#/author/{{post.author}}">
          		{{post.authorName}}
          	</a>
          </p>
          <p>Categoria:
          	<a href="#/categories/{{post.categoryId}}">
          		{{post.categoryName}}
          	</a>
          </p>
          <p>Ubicacion:
            <a href="#/ubications/{{post.ubicationId}}">
              {{post.ubicationName}}
            </a>
          </p> -->




        <!-- Se añade  los comentarios  -->
        <div class="form-detail">
          <form >
            <div class="content">
              <textarea class="area" ng-model="mpic.content" placeholder="Escribe acá tu comentario..." ></textarea>
            </div>
            <div class="bottom">
             <div class="add-airplane" ng-click="mpic.addComment(mpic.content); mpic.content='' " >send</div>
            </div>
          </form>
        </div>

        <!-- Los comentarios  -->
          <div class="content-cometary">
            <div  class="cometarios" ng-repeat="comment in post.comments track by $index">
              <!-- <p>El dia {{comment.date}}  -->
              <div class="avatar-user">
                <img ng-src="{{comment.authorAvatar}}"></img>
              </div>
              <div class="title">
                <a href="#/author/{{post.author}}">{{comment.authorName}} Comento</a>
              </div>
              <div class="text">
                <p ng-bind-html="comment.content | to_trusted"></p>
              </div>
              <post-comments>
                <div class="bottom" ng-show="mv.user.id == comment.authorId">
                  <div  class="delete-trash {{disabled_class}}"   ng-click="mpic.confirmShow(this)" >delete</div>
                </div>
                <div class="pop-pu {{pop_up}}">
                  <div class="wraper">
                    <div class="title">seguro quiere eliminar el comentario:</div>
                    <div class="opciones">
                      <p class="delete" ng-click="mpic.deleteComment(comment.id);" >Eliminar</p>
                      <p class="cancel" ng-click=" mpic.confirmShow(this)">Cancelar</p>
                    </div>
                  </div>
                </div>
              </post-comments>
            </div>
          </div>
      </div>
    </div>
  </div>
  <p class="aux">{{mv.messageData}}</p>

</div>


<!--

<div class="view-timeline">
  <div class="content-time view-timeline" data-ng-hide="hide" ng-animate="{enter: 'animate-enter', hide: 'animate-hide'}">
    <div ng-repeat="post in numberPostFilter = (mv.posts | filter:filterPosts:true) track by $index"  class="repeated-item">
      <div class="item-box">
        <div class="info-user">
          <span></span>
          <p>{{post.authorName}}</p>
        </div>
        <div class="wraper-img">
          <a href="#/post-info/{{post.id}}">
            <img ng-src="{{post.urlFeaturedImage}}"></img>
          </a>
        </div>

        <div class="info-post">
          <div class="favorites">
            <span class="icon-stars"></span>
            <p ng-if='!post.isFavorite' ng-click="mv.addFavorite(post.id)">GUARDAR EN FAVORITOS</p>
            <p ng-if='post.isFavorite' ng-click="mv.removeFavorite(post.id)">REMOVER DE FAVORITOS</p>
          </div>
          <div class="count-comments">
            <p>{{post.comments.length}}</p>
            <span class="balloon"></span>
          </div>
          <div class="count-favorites">
            <p>{{post.countFavorites}} </p>
            <sapn class="stars-pink"></sapn>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p ng-show="!numberPostFilter.length">{{mv.messageData}}</p>
</div>
 -->