.view-timeline {
	.icon-ubication {
		background: url("../img/icons/pointer-active.svg");
		background-repeat: no-repeat;
		width: 28px;
		height: 28px;
	}
}
.ubication {
	.icon-ubication {
		background: url("../img/icons/pointer-active.svg");
		background-repeat: no-repeat;
		width: 28px;
		height: 28px;
	}
}