.item-box
	float: left
	width: 31.3333%
	margin: 1%
.nav-aux
	position: fixed
	bottom: 0
	width: 100%
	background: rgba(0, 0, 0, 0.55)
	a
		color: white
		text-decoration: none
		width: 50%
		float: left
		padding: 5px  0
.aux-2
	a
		width: 33%
.content-time
	display: table
	margin-bottom: 35px
	width: 100%



.link-category
	padding: 21px 10px
	background: #7818d0
	display: block
	text-decoration: none
	color: white
	margin: 3px auto
	width: 90%
.footer-block
    clear: both
    color: red

body
	background: #b7b7bb
form
	background: transparent
	width: 100%
	font-size: 20px
	padding: 20px 0

input
	width: 90%
	height: 50px

textarea
	width: 90%
	height: 100px

.custom-file-input,
.custom-bottom-input
	width: 90%
	display: block
	position: relative
	background: rgba(171, 39, 97, 0.56)
	margin: 0 auto
	height: 64px

img
    height: auto
    max-width: 100%
a
	text-decoration: none
.content
	margin-top: 89px


