.footer-block
    clear: both
    color: red
body
	text-align: center

form
	background: #82BB98
	width: 100%
	font-size: 20px
	padding: 20px 0

input
	width: 90%
	height: 50px

textarea
	width: 90%
	height: 100px

.custom-file-input,
.custom-bottom-input
	width: 90%
	display: block
	position: relative
	background: rgba(171, 39, 97, 0.56)
	margin: 0 auto
	height: 64px

img
  height: auto
  max-width: 100%
