/*******************************
*     Ajustes estilos  MUVBE   *
********************************/

/*
*   Colors palette
********************************/

$white:  #FFFFFF;
$white2: #f8f8ff;
$gray:   #e1e1e3;
$gray-back: #c6c6c7;
$pink:   #da0080;
$pink-bottum: #a90b71;
$text-gray: #727277;

/*
*   Media Query Ranges
********************************/

@mixin center-text($width) {
	display: block;
	width: $width;
	margin: 0 auto;
}



/*
*   Media Query Ranges
********************************/


$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$table:  "#{$screen} and (min-width: 550px)";
$desktop: "#{$screen} and (min-width: 900px)";

$wide:  "#{$screen} and (min-width: 1400px)";