<h1>Museo Urbano Virtual Bopotá Efimera</h1>
<p>Ingresa a nuestra plataforma</p>
<form>
  <p>Usuario</p>
  <input type="text" ng-model="mlc.user.userName" required></input>
  <p>Contraseña</p>
  <input type="password" ng-model="mlc.user.userPassword" required></input>
  <br>
  <br>
  <p ng-show="mlc.showMessage">{{mlc.messageLogin}}</p>
  <input type="button" ng-click="mlc.showMessage='true'; mlc.validateLogin(mlc.user.userName, mlc.user.userPassword);" value="Ingresar"></input>
  <br>
  <br>
  <a href="#/signup">Crea tu Cuenta</a>
</form>
