<h1>Museo Urbano Virtual Bogotá Efimera</h1>
<a href="#/signup">Crea tu cuenta</a> ó ingresa con tus datos:
<form>
  <p>Usuario</p>
  <input type="text" ng-model="mlc.user.userName" required></input>
  <p>Contraseña</p>
  <input type="password" ng-model="mlc.user.userPassword" required></input>
  <br>
  <br>
  <p ng-show="mlc.showMessage">{{mlc.messageLogin}}</p>
  <input type="button" ng-click="mlc.validateLogin(mlc.user.userName, mlc.user.userPassword);" value="Ingresar"></input>
  <br>
  <br>

</form>
