<div class="views-signup">
  <!-- header  -->
  <div class="header-signup">
    <a class="arrow-back" href="#/">vuelve</a>
    <div class="logo"></div>
    <div class="title-signup"><p>Registro</p></div>
  </div>
  <!-- formulario de signup -->
  <form name="formSignUp">
    <input class="textbox" type="text" ng-model="msuc.user.userName" required placeholder="Nombre de usuario"></input>
    <input  class="textbox"type="text" ng-model="msuc.user.userEmail" required placeholder="Email"></input>
    <input  class="textbox"type="password" ng-model="msuc.user.userPassword" required placeholder="Contraseña"></input>
    <!-- forma de subir -->
    <div class="menu-upphote">
      <div class="take-phote" type="button" ng-click="msuc.takephotoURL()">
        <div class="icon-camera"></div>
        <p>Tomar foto</p>
      </div>
      <div  class="up-phote" type="button" ng-click="msuc.choosePhoto()">
        <div class="icon-phote" ></div>
        <p>Subir Archivo</p>
      </div>
      <img id="myImageAvatar" ng-model="msuc.file">
      <p id="text2"></p>
    </div>
    <!-- button -->
    <input type="button" class="button-pink" ng-click="msuc.createUser(msuc.user.userName, msuc.user.userEmail, msuc.user.userPassword, msuc.file);" value="Crear Cuenta"></input>
  </form>
</div>
