<h1>Bienvenido(a) a MUVBE {{muc.user.userName}}</h1>

<button ng-click="filterPosts = {}">Ultimos posts</button>
<button ng-click="filterPosts = {author:muc.user.id}">Mis posts</button>
<div ng-repeat="post in muc.posts | filter:filterPosts:true track by $index">
<br>
<h2>Titulo</h2>
<p>{{post.title}}</p>
<h2>Contenido</h2>
<p ng-bind-html="post.content | to_trusted"></p>
<h2>Fecha</h2>
<p>{{post.date}}</p>
<h2>Imagen</h2>
<img ng-src="{{post.urlFeaturedImage}}"</img>
<br>
</div>
<a href="#/post">Crea tu post</a>
<a href="#/exit">Salir</a>
