<div ng-repeat="post in numberPostFilter = mpic.posts | filter:{id:mpic.postId} track by $index">
<h1>{{post.title}}</h1>
<img ng-src="{{post.urlFeaturedImage}}"</img>
<p ng-bind-html="post.content | to_trusted"></p>
<p>Añadido el dia: {{post.date}}</p>
<p>Añadido por: {{post.authorName}}</p>
<p>Categoria: <a href="#/categories/{{post.categoryId}}">{{post.categoryName}}</a></p>
<br>
</div>
<div class="nav-aux aux-2">
	<a href="javascript:history.back(1)">Volver</a>
	<a href="#/post">Crea tu post</a>
	<a href="#/exit">Salir</a>
</div>
