<!--Formulario para insertar nuevos Todo-->

<div class="form-post">
	<form action="">
		<div class="title">
			<label for=""> Titulo </label>
			 <input type="text" class="class" placeholder="insert you title" ng-model="post.title">
		</div>
		<div class="content">
			<label for=""> Contenido </label>
			<textarea class="area" placeholder="Insert you content" ng-model="post.content" ></textarea>
		</div>
		<div class="image">
			<label for=""> img </label>
		</div>
		<div class="bottom">
			<button class="btn btn-primary btn-lg"  ng-click="muc.createPost(post)">Añadir</button>
		</div>
	</form>
</div>




