<!--Formulario para insertar nuevos Todo-->
<div class="form-post">
	<form action="">
		<div class="title">
			<label for="">Titulo de la Imagen</label>
			<br>
			<br>
			<input type="text" ng-model="mcpc.title">
		</div>
		<br>
		<div class="content">
			<label for="">Describe tu Imagen</label>
			<br>
			<br>
			<textarea class="area" ng-model="mcpc.content" ></textarea>
		</div>
		<br>
		<div class="image">
			<label for="">Sube tu Imagen</label>
			<br>
			<br>
			<input type="file" class="custom-file-input"  name="file" muvbe-file-model="mcpc.file" ng-file-upload/>
		</div>
		<br>
		<div class="bottom">
			<input type="button" class="custom-bottom-input" ng-click="mcpc.createPost(mcpc.title, mcpc.content, mcpc.file)" value ="Añadir"></input>
		</div>
	</form>
</div>
