/*******************************
*     Ajustes estilos  MUVBE   *
********************************/
/*
*   Colors palette
********************************/
/*
*   Media Query Ranges
********************************/
/*
*   Media Query Ranges
********************************/
/*******************************
*    Estilos Globales MUVBE    *
********************************/
/*
*    Etiquetas
********************************/
body,
html {
  width: 100%;
  height: 100%;
  margin: 0; }

img {
  height: auto;
  max-width: 100%; }

a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #727277;
  display: block; }

p {
  color: #727277;
  font-size: 15px;
  font-weight: 400;
  margin: 0 0; }

form {
  background: transparent;
  width: 100%;
  font-size: 20px; }

input {
  width: 300px;
  height: 50px;
  border: 2px solid #640137;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  display: block;
  margin: 0 auto;
  margin-bottom: 18px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: #f8f8ff;
  background-color: #7e0146; }
  input:focus, input:active {
    border: none;
    outline: 0;
    outline-style: none;
    outline-width: 0; }
  input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #f8f8ff; }
  input::-moz-placeholder {
    /* Firefox 19+ */
    color: #f8f8ff; }
  input:-ms-input-placeholder {
    /* IE 10+ */
    color: #f8f8ff; }
  input:-moz-placeholder {
    /* Firefox 18- */
    color: #f8f8ff; }

textarea {
  width: 90%;
  height: 100px; }

/*
*    Clases Globales
****************************************/
.content {
  height: 100%; }

.message {
  margin-bottom: 15px;
  text-align: center; }
  .message p, .message a {
    font-size: 12px;
    display: inline; }
  .message a {
    margin-left: 6px; }

.buttom {
  text-align: center; }
  .buttom input,
  .buttom a {
    text-align: center;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    color: #a90b71;
    height: 35px;
    -webkit-border-radius: 11px;
            border-radius: 11px; }

.error {
  color: red;
  font-size: 15px; }

.custom-file-input,
.custom-bottom-input {
  width: 90%;
  display: block;
  position: relative;
  background: rgba(171, 39, 97, 0.56);
  margin: 0 auto;
  height: 64px; }

.button-pink {
  width: 300px;
  background-color: transparent;
  border: 2px solid #da0080;
  color: #da0080;
  height: 36px; }

.view-login {
  background: url("../img/back-login.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; }
  .view-login a, .view-login p {
    color: #FFFFFF; }
  .view-login .wraper-content {
    padding-top: 30%; }
    .view-login .wraper-content .logo {
      background: url("../img/logo-login.png");
      background-repeat: no-repeat;
      width: 85px;
      height: 52px;
      margin: 0 auto;
      margin-bottom: 42px; }
    .view-login .wraper-content .wraper .message .text-remeber p {
      margin-right: 6px; }
    .view-login .wraper-content .social-media {
      width: 300px;
      margin: 0 auto; }
      .view-login .wraper-content .social-media .line {
        border-top: 2px solid #9c9aa0;
        width: 136px;
        float: left;
        margin-top: 12px; }
      .view-login .wraper-content .social-media .centro {
        float: left;
        color: #9c9aa0;
        margin-left: 8px;
        margin-right: 8px;
        color: #f8f8ff;
        font-size: 19px; }
  .view-login .footer-login {
    background: #c53082;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 52px; }
    .view-login .footer-login .wraper {
      display: block;
      width: 240px;
      margin: 0 auto;
      height: 20px;
      margin: 17px auto; }
      .view-login .footer-login .wraper p {
        margin-right: 6px;
        font-weight: 400;
        font-size: 15px;
        float: left; }
      .view-login .footer-login .wraper a {
        float: left; }

@media only screen and (orientation: landscape) {
  .view-login {
    height: auto; }
    .view-login .wraper-content {
      padding-top: 15%;
      padding-top: 15%;
      min-height: 389px; }
    .view-login .footer-login {
      position: relative;
      padding-top: 6px; } }

.views-signup {
  background-color: #d7d8d9;
  height: 100%; }
  .views-signup .header-signup {
    padding-top: 30px;
    margin-bottom: 46px; }
    .views-signup .header-signup .arrow-back {
      background: url("../img/icons/back-icon.svg");
      background-repeat: no-repeat;
      width: 46px;
      height: 46px;
      font-size: 0;
      display: block;
      float: left;
      margin-left: 8px; }
    .views-signup .header-signup .logo {
      background: url("../img/logo-signup.png");
      background-repeat: no-repeat;
      width: 85px;
      height: 52px;
      margin: 0 auto;
      display: block; }
    .views-signup .header-signup .title-signup p {
      color: #e6007e;
      font-size: 15px;
      text-align: center;
      font-weight: bold;
      margin-top: 7px; }
  .views-signup form {
    min-height: 418px; }
    .views-signup form input.textbox {
      background-color: #FFFFFF;
      border: 1px solid #cecfd1; }
      .views-signup form input.textbox::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #727277; }
      .views-signup form input.textbox::-moz-placeholder {
        /* Firefox 19+ */
        color: #727277; }
      .views-signup form input.textbox:-ms-input-placeholder {
        /* IE 10+ */
        color: #727277; }
      .views-signup form input.textbox:-moz-placeholder {
        /* Firefox 18- */
        color: #727277; }
    .views-signup form .menu-upphote {
      margin: 27px auto;
      width: 260px;
      display: table; }
      .views-signup form .menu-upphote .take-phote,
      .views-signup form .menu-upphote .up-phote {
        width: 49%;
        float: left; }
      .views-signup form .menu-upphote .icon-phote,
      .views-signup form .menu-upphote .icon-phote {
        background: url("../img/icons/camera-icon.svg");
        background-repeat: no-repeat;
        width: 69px;
        height: 69px;
        margin: 0 auto;
        display: block; }
      .views-signup form .menu-upphote .icon-phote {
        background: url("../img/icons/upload-icon.svg");
        background-repeat: no-repeat; }
      .views-signup form .menu-upphote p {
        margin: 11px auto;
        display: block;
        width: 67px;
        font-weight: bold;
        font-size: 11px; }
    .views-signup form .button-pink {
      margin-bottom: 0;
      font-weight: bold; }

@media only screen and (orientation: landscape) {
  .views-signup {
    height: auto; } }

.views-terms {
  background-color: #c6c6c7;
  height: 100%; }
  .views-terms .logo-terms {
    padding-top: 74px; }
    .views-terms .logo-terms span {
      background: url("../img/logo-terms.png");
      background-repeat: no-repeat;
      display: block;
      width: 311px;
      height: 142px;
      margin: 0 auto; }
  .views-terms .text-term {
    display: block;
    width: 240px;
    margin: 0 auto; }
    .views-terms .text-term p {
      margin-bottom: 13px;
      font-size: 12px;
      word-wrap: break-word;
      word-break: break-all;
      text-align: justify; }
    .views-terms .text-term p.text-before {
      margin: 0 3px 0 0;
      float: left; }
    .views-terms .text-term .last {
      word-break: normal;
      text-align: justify; }
    .views-terms .text-term a.link-conditions {
      font-size: 12px;
      color: #da0080;
      float: left; }
      .views-terms .text-term a.link-conditions.link-2 {
        margin-right: 5px; }
  .views-terms form {
    display: block;
    width: 240px;
    margin: 0 auto;
    margin-top: 22px; }
    .views-terms form label {
      font-size: 11px;
      font-weight: bold;
      color: #727277;
      margin-left: 11px;
      vertical-align: top; }
    .views-terms form [type="checkbox"] {
      width: 14px;
      height: auto;
      float: left;
      margin: 0; }
    .views-terms form .buttom {
      margin-top: 22px;
      width: 100%;
      min-height: 100px; }
      .views-terms form .buttom input {
        width: 100%;
        background-color: transparent;
        border: 2px solid #da0080;
        color: #da0080;
        margin: 0; }

@media only screen and (orientation: landscape) {
  .views-terms {
    height: auto; } }

.nav-aux {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #f8f8ff;
  height: 57px;
  border-top: 1px solid #cccccc; }
  .nav-aux .item {
    width: 20%;
    display: block;
    float: left;
    height: 100%;
    background-repeat: no-repeat; }
    .nav-aux .item a {
      font-size: 0;
      width: 35px;
      background-repeat: no-repeat;
      display: block;
      height: 35px;
      overflow: hidden;
      margin: 12px auto; }
    .nav-aux .item.item-1 a {
      background: url("../img/icons/eye-inactive.svg"); }
    .nav-aux .item.item-2 a {
      background: url("../img/icons/glass-inactive.svg"); }
    .nav-aux .item.item-3 a {
      background: url("../img/icons/camera-inactive.svg"); }
    .nav-aux .item.item-4 a {
      background: url("../img/icons/pointer-inactive.svg"); }
    .nav-aux .item.item-5 a {
      background: url("../img/icons/user-inactive.svg"); }

.content-time {
  display: table;
  margin-bottom: 35px;
  width: 100%; }

.link-category {
  padding: 21px 10px;
  background: #7818d0;
  display: block;
  text-decoration: none;
  color: white;
  margin: 3px auto;
  width: 90%; }

.footer-block {
  clear: both;
  color: red; }

.header {
  background: url("../img/back-header.png");
  background-color: white;
  height: 89px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3; }
  .header .logo-app {
    float: left;
    height: 100%; }
    .header .logo-app span {
      background: url("../img/logo-header2.png");
      background-repeat: no-repeat;
      height: 89px;
      width: 162px;
      font-size: 0;
      display: block; }
  .header .name-user {
    width: auto;
    text-align: right;
    display: block;
    float: right;
    height: 100%; }
    .header .name-user a {
      font-size: 18px;
      margin: 34px 12px 0 0;
      text-transform: capitalize;
      font-weight: 400; }
  .header .avatar-user {
    float: right;
    width: 48px;
    height: 100%; }
    .header .avatar-user a {
      margin-top: 19px; }
      .header .avatar-user a img {
        -webkit-border-radius: 50%;
                border-radius: 50%;
        overflow: hidden; }
  .header .menu-main {
    display: block;
    width: 46px;
    float: right; }
    .header .menu-main a {
      background: url("../img/icon-menu.png");
      background-repeat: no-repeat;
      background-position-y: 36px;
      display: block;
      width: 24px;
      margin: 0 auto;
      height: 89px;
      font-size: 0; }

.content-time {
  margin-top: 90px; }
  .content-time .item-box .info-user {
    height: 46px;
    background-color: #fdfbff;
    position: relative;
    display: table;
    width: 100%; }
    .content-time .item-box .info-user span {
      display: block;
      float: left;
      background: rebeccapurple;
      height: 46px;
      width: 55px; }
    .content-time .item-box .info-user p {
      color: #da0080;
      font-size: 14px;
      font-weight: bold;
      margin-top: 19px; }
  .content-time .item-box .wraper-img {
    margin: 0 2px; }
  .content-time .item-box .info-post {
    height: 50px; }
    .content-time .item-box .info-post .favorites {
      width: 70%;
      height: 50px;
      float: left; }
      .content-time .item-box .info-post .favorites .icon-stars {
        background: url("../img/icon-stars.png");
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        display: block;
        float: left;
        margin-left: 16px;
        margin-top: 18px; }
      .content-time .item-box .info-post .favorites p {
        margin-left: 16px;
        margin-top: 18px;
        display: block;
        float: left;
        font-size: 12px;
        font-weight: 400; }
    .content-time .item-box .info-post .count-comments {
      width: 15%;
      height: 50px;
      float: left; }
      .content-time .item-box .info-post .count-comments p {
        float: left;
        width: 50%; }
      .content-time .item-box .info-post .count-comments .balloon {
        background: url("../img/icon-balloon.png");
        background-repeat: no-repeat;
        width: 20px;
        height: 16px;
        display: block;
        float: left; }
    .content-time .item-box .info-post .count-favorites {
      width: 15%;
      height: 50px;
      float: left; }
      .content-time .item-box .info-post .count-favorites p {
        float: left;
        width: 50%; }
      .content-time .item-box .info-post .count-favorites .stars-pink {
        background: url("../img/icon-stars-pink.png");
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        display: block;
        float: left; }
