.view-login {
	// background: url("../img/back-login.png");
	@include container();
	a,p {
		color: #da0080;

	}
	.wraper-content{
    float: left;
    width: 100%;
    height: 100%;
		.logo {
			// background: url("../img/logo-login.png");
			background: url("../img/logo-signup.png");
			background-repeat: no-repeat;
			width: 85px;
			height: 52px;
			margin: 0 auto;
			margin-bottom: 42px;
			margin-top: 15%;
		}
		.wraper {
			.message {
				.text-remeber{
					p {
						margin-right: 6px;
					}
				}
			}
		}
		.social-media {
			width: 300px;
			margin: 0 auto;
			.line {
				border-top: 2px solid #9c9aa0;
				width: 136px;
				float: left;
				margin-top: 9px;
			}
			.centro {
				float: left;
				color: #9c9aa0;
				margin-left: 8px;
				margin-right: 8px;
				color: #da0080;
				font-size: 19px;
			}
		}
	}
	.footer-login {
  	// background: #c53082;
  	text-align: center;
		width: 100%;
		height: 52px;
		clear: both;
		.wraper {
			@include  center-text (240px);
			height: 20px;
			padding-top: 18px;

			p{
				margin-right: 6px;
				font-weight: 400;
				font-size: 15px;
				float: left;
			}
			a {
				float: left;
				line-height: 17px;
			}
		}
	}
}
@media #{$landscape} {
	.view-login {
		height: auto;
		.wraper-content{
			padding-top: 15%;
			padding-top: 15%;
			min-height: 389px;
		}
		.footer-login {
			position: relative;
			padding-top: 6px;
		}
	}
}
