.views-signup {
	background-color: $gray;
	height: 100%;
	display: table;
    width: 100%;
	.header-signup {
		padding-top: 30px;
		margin-bottom: 46px;
		.arrow-back{
			background: url("../img/icons/back-icon.svg");
	    background-repeat: no-repeat;
	    width: 46px;
	    height: 46px;
	    font-size: 0;
			display: block;
			float: left;
			margin-left: 8px;
		}
		.logo {
			background: url("../img/logo-signup.png");
			background-repeat: no-repeat;
			width: 85px;
			height: 52px;
			margin: 0 auto;
			display: block;
		}
		.title-signup {
			p {
				color: $pink-text;
				font-size: 15px;
				text-align: center;
				font-weight: bold;
				margin-top: 7px;
			}
		}
	}
	form {
		min-height: 418px;
		input.textbox {
			background-color: $white;
			border: 1px solid $gray-line;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $text-gray;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: $text-gray;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: $text-gray;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: $text-gray;
			}
		}
		.menu-upphote {
			margin: 27px auto;
			width: 260px;
			display: table;
			.take-phote,
			.up-phote {
				width: 49%;
				float: left;
			}
			.icon-phote,
			.icon-camera {
				background: url("../img/icons/camera-icon.svg");
				background-repeat: no-repeat;
				width: 69px;
				height: 69px;
				margin: 0 auto;
				display: block;
			}
			.icon-phote {
				background: url("../img/icons/upload-icon.svg");
				background-repeat: no-repeat;
			}
			p {
				margin: 11px auto;
				display: block;
				width: 67px;
				font-weight: bold;
				font-size: 11px;
			}
		}
		.button-pink {
			    margin-bottom: 40px;
			font-weight: bold;
		}
	}
}
@media #{$landscape} {
	.views-signup {
		height: auto;
	}
}